body{
background-color: rgb(223, 223, 183);
}

h1{
    background-color:#93c1f0a3;;
    text-align: center;
    border: 3px solid #0d0c0c
}

h2{
    margin-top: 10px;
font-size: revert;
font-style: italic;
font-weight: bold;
}

/* Button to click on color */
.btnPar{
    background-color: #285172; 
    border: none;
    color: white;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 175px;
    height: 38px;
    font-size: 20px;
  } 

  
  /* .row-1 {
    float: left;
    width: 50%;
    box-sizing: border-box;
    background-color: #0d0c0c;
  }
   */ 
/* City formation main page text size */
   .box-body{
    font-size: x-large;
   }

  .fiveDayForcast{
    background-color: #7c948f;
    height: 400px;
  }

/* Colos for the seacrh city sectoin  */
  .colOne{
    background-color: #90977dc7; 
    border: 3px solid #0d0c0c
      }

/* Colors for the mmain day weather display */
  .colTwo{
    border: 3px solid #0d0c0c;
    background-color:#7e92a1;

  }


  .fiveDayForcast{
    background-color: antiquewhite;
    height: 450px;
    
  }

  /* Section for the city searcher show up*/
  .colThrew{
    background-color: #7e92a1;
    border: 3px solid #0d0c0c
  }

  .colFour{
    background-color: #90977dc7;
    border: 3px solid #0d0c0c;
  }
/* Section where the cities will display */
  .colThrew{
    border-end-end-radius: 10px;
    
  }

  .fc{
    /* background-color: rgb(139, 192, 167); */
    display:inline-block;
    height: 266px;
    width: 170px;
    font-size: large;
    /* background-color:#90977dc7; */
   
  }

.img-w{
    height: 50px;
    width:80px;
  }

