body{
background-color: beige;
}

h1{
    background-color: #7c948f;
    text-align: center;
}

h2{
    margin-top: 10px;
font-size: revert;
font-style: italic;
font-weight: bold;
}

.btnPar{
    background-color: #285172; 
    border: none;
    color: white;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 165px;
    height: 38px;
    font-size: 20px;
  } 

  button-

  /* .row-1 {
    float: left;
    width: 50%;
    box-sizing: border-box;
  }
   */

  .fiveDayForcast{
    background-color: #7c948f;
    height: 400px;
  }


  .colOne{
    background-color: aliceblue;
  }

  .fiveDayForcast{
    background-color: antiquewhite;
    height: 450px;
  }

  /* Section for the city searcher */
  .colThrew{
    background-color: #7e92a1;
  }

  .colFour{
    background-color: azure;
  }

  .colThrew{
    border-end-end-radius: 10px;
    width: ;
  }

  .fc{
    background-color: rgb(38, 124, 84);
    display:inline-block;
    height: 140px;
    width: 150px;
  }

.img-w{
    height: 50px;
    width:70px;
  }